
<div class="modal partialModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Cita</h5>                    
                </div>
                <div class="modal-body">                   
                    <div class="form-group">
                        <label class="control-label">Fecha Cita</label>
                        <input type="datetime-local" id="fechaCita" class="form-control" />                
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha Terminación</label>
                        <input type="datetime-local" id="fechaTermino" class="form-control" />                
                    </div>
                    <div class="form-group">
                        <label class="control-label">Comentarios</label>
                        <textarea id="comentarios" class="form-control"></textarea>               
                    </div>
                   
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-success" onclick="ValidarModalCita()">Guardar</button>
                    <button type="button" class="btn btn-danger" onclick="cerrarModal()">Cancelar</button>                   
                </div>
            </div>
        </div>
    </div>