@model ExamenSCISA.Models.Usuario

@{
    ViewData["Title"] = "EditarUsuario";
}

<h1>Editar Usuario</h1>
<div>
    <a asp-action="Index">Regresar</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GuardarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none !important;">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="TipoUsuarioId" class="control-label">Tipo de Usuario</label>
				<select asp-for="TipoUsuarioId" asp-items="@ViewBag.TiposUsuario" class="form-control">					
				</select>
				<span asp-validation-for="TipoUsuarioId" class="text-danger"></span>
			</div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
